/* styles.css */

/* Calendar 컴포넌트 스타일 */
.calendar-wrapper {
  margin: 0 auto;
  width: 85%;
  border: #888 solid;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* 7일을 나타내는 그리드 */
  background-color: #f9f9f9;
  border-collapse: collapse; 
  border-spacing: 0; 
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin-bottom: 0.5rem;
}

.weekday {
  text-align: center;
  font-weight: bold;
  color: #333;
  flex-grow: 1; /* 요일 칸이 그리드에 균일하게 들어가도록 설정 */
}

/* 일요일과 일요일에 해당하는 요일과 날짜들을 빨간색으로 표시 */
.weekday:nth-child(1),
.calendar-day:nth-child(7n + 1) {
  color: red;
}

/* 토요일과 토요일에 해당하는 날짜들을 파란색으로 표시 */
.weekday:nth-child(7),
.calendar-day:nth-child(7n) {
  color: blue;
}

.calendar-day {
  background-color: #fff;
  position: relative;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  height: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: #333 1px solid; */
  height: 4rem;
}

.calendar-day:hover {
  background-color: #f0f0f0;
}

/* 선택된 날짜의 스타일 */
.calendar-day.selected {
  background-color: #007bff;
  color: #fff;
}

/* 현재 달이 아닌 날짜의 스타일 */
.calendar-day:not(.current-month) {
  background-color: #f0f0f0;
  color: #888; /* 흐린 회색으로 표시 */
  cursor: default; /* 클릭 불가능하게 설정 */
}

.calendar-day:hover {
  background-color: #e0e0e0;
}

/* 좌우 버튼 스타일 */
.button-container {
  display: flex;
  justify-content: space-between;
}

.button {
  background-color: #b2d793;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 1rem;
}

button:hover {
  background-color: #7de726;
}

/* CalendarDetail 컴포넌트 스타일 */
/* 모달 오버레이 스타일 */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 어두운 배경색과 반투명도 */
  z-index: 1;
  padding: 1rem;
}

/* 모달 스타일 */
.modal {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.75);
  border: #9aa293 0.3rem solid;
  z-index: 2;
  width: 85%;
  height: 15rem;
  border-radius: 2rem;
  overflow-x: auto;
}

.modal-date {
  position: absolute;
  top: 3%;
  left: 50%;
  transform: translateX(-50%); /* 수평 중앙 정렬 */
  border-radius: 2rem;
  padding: 3%;
  background-color: #cad6c0;
  font-weight: bold;
  width: fit-content;
  text-align: center;
}

.close {
  float: right;
  font-size: 1.5rem;
  cursor: pointer;
  color: #333;
}

/* 일기가 있는 날짜에 대한 스타일 */
.has-diary {
  background-color: #b2d793;
}

.diary-items {
  display: flex;
  padding: 0.5rem;
  gap: 0.5rem;
  overflow-x: auto;
}

/* DiaryItem 스타일 */
.diary-item {
  display: flex;
  width: 7.6rem;
  margin-top: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #cad6c0;
  border-radius: 1rem;
  padding: 0.75rem;
  gap: 0.5rem;
}

.diary-item-image {
  width: 5rem;
  height: 5rem;
}

.diary-item-emotion {
  width: 2rem;
  height: 2rem;
}

.diary-item-title {
  overflow: hidden; /* 넘치는 부분을 숨김 */
  white-space: nowrap; /* 줄 바꿈 방지 */
  text-overflow: ellipsis; /* 텍스트가 너무 길면 ...으로 표시 */
  width: 7.5rem;
  text-align: center;
  font-weight: bold;
}

.diary-emotion {
  width: 1.25rem;
  height: 1.25rem;
  position: absolute;
  top: 0.1rem;
}

.weekday.saturday {
  color: blue;
}
