/* styles.css */

/* Calendar 컴포넌트 스타일 */
.calendar-wrapper {
  margin: 0 auto;
  width: 85%;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* 7일을 나타내는 그리드 */
  background-color: #f9f9f9;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin-bottom: 0.5rem;
}

.weekday {
  text-align: center;
  font-weight: bold;
  color: #333;
  flex-grow: 1; /* 요일 칸이 그리드에 균일하게 들어가도록 설정 */
}

.calendar-day {
  background-color: #fff;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar-day:hover {
  background-color: #f0f0f0;
}

/* 선택된 날짜의 스타일 */
.calendar-day.selected {
  background-color: #007bff;
  color: #fff;
}

/* 현재 달이 아닌 날짜의 스타일 */
.calendar-day:not(.current-month) {
  background-color: #f0f0f0;
  color: #888; /* 흐린 회색으로 표시 */
  cursor: default; /* 클릭 불가능하게 설정 */
}

.calendar-day:hover {
  background-color: #e0e0e0;
}

/* 좌우 버튼 스타일 */
.button-container {
  display: flex;
  justify-content: space-between;
}

.button-container button {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-container button:hover {
  background-color: #0056b3;
}

/* CalendarDetail 컴포넌트 스타일 */
/* 모달 오버레이 스타일 */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 어두운 배경색과 반투명도 */
  z-index: 1;
}

/* 모달 스타일 */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  z-index: 2;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modal-content {
  /* margin-top: 20px; */
}

.close {
  float: right;
  font-size: 1.5rem;
  cursor: pointer;
  color: #333;
}
